<div class="container">


    

<br>
<br>
<div 
class ="body">

<button  class="btn btn-primary" style ="float : right;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Products</button>
<br>
<br>

  <div class ="row">


    <div class ="col col-12 col-md-6 col-lg-3">

        <div class="card" style="width: 18rem;">
            <img src="assets/images/card1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    
    <div class ="col col-12 col-md-6 col-lg-3">

        <div class="card" style="width: 18rem;">
            <img src="assets/images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>


    

    <div class ="col col-12 col-md-6 col-lg-3">

        <div class="card" style="width: 18rem;">
            <img src="assets/images/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>



    

    <div class ="col col-12 col-md-6 col-lg-3">

        <div class="card" style="width: 18rem;">
            <img src="assets/images/card1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>





  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <form>
    <div class="row" >
      <div>
        <input type ="text" class ="form-control" placeholder ="Title" placeholder ="Title">
      </div>
    <br>
    <div>
    <textarea class ="form-control" cols="30" rows="10" placeholder="Description"></textarea>
  </div>
  <br>
  <div>
    <input type ="text" class ="form-control" placeholder ="Title" placeholder ="image">
  </div>
  </div>
  <br>
<button class ="btn btn-success">Add Product</button>
  </form>
  </div>
 </div>
</div>
</div>
  
 