<div class="container">
    <div class="uk-position-center uk-overlay uk-overlay-default">

        <form>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: happy"></span>
                    <input class="uk-input" type="text">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" type="text">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="text">
                </div>
            </div>
            <button type ="submit" class ="btn btn-success" style ="width:100%;">Register</button>
            <br>
            <br>
            
        </form>
        
        </div>
</div>