<div class="container">

    <div class="uk-position-center uk-overlay uk-overlay-default">

        <form>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="text">
                </div>
            </div>
            <button type ="submit" class ="btn btn-success" style ="width:100%;">Login</button>
            <br>
            <br>
            <button type ="sumbit" class ="btn btn-info " style ="width:100%;">Forget</button>
        </form>
        
        </div>
        
        
</div>