<div class="container">


<br>
<br>
<div class="container">
    
    <article class="uk-comment uk-comment-primary" >
        <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="assets/images/profile.jpg" width="200" height="200" alt="">
                </div>
                <div class="uk-width-expand">
                   
                   <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>
            
                </div>
            </div>
        </header>
        <div class="uk-comment-body">

        </div>
    </article>
</div>